.navigation-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    background-color: transparent;
    position: fixed;   
    left: 0;
    right: 0;
    z-index: 1;
    backdrop-filter: blur(1px);
}


a
{
    text-decoration: none;
    color: inherit;
}



/* logo  -------------------------- */
.logo-container > button 
{
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}


.nav-logo
{
    width: 50px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin-left: 20px;
    
}
.nav-logo:hover
{
    transform: scale(1.1);
}
.nav-logo:active
{
    transform: scale(.95);
}


/* logo  -------------------------- */



/* social icons -------------------------- */
#nav-social-icons
{
    display: flex;
    margin-right: 20px;
    transition: transform 0.3s ease;

}
.icon
{
    visibility: hidden;    
}
.nav-git
{
    margin-right: 20px;
    transition: transform 0.3s ease;

}

.nav-git:hover
{
    transform: scale(1.05);
}

.nav-linkedin
{
    transition: transform 0.3s ease;

}

.nav-linkedin:hover
{
    transform: scale(1.05);
}


/* social icons -------------------------- */




/* @media quieries ------------------------*/

@media (max-width: 768px)
{
    .icon{
    visibility:  visible;
    }

    #nav-social-icon.visible
    {
        display: flex;
        flex-direction: column;
    }
    .navigation-container
    {
        font-size: .7rem;

    }
    .nav-git, .nav-linkedin{
    display: none;        
    }
    .nav-logo
    {
        width: 40px;
    }


    
}