.barber-website-div
{
    
    max-width: 1400px;
    margin: auto auto 150px auto;
    display: grid;
    padding: 0 20px;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 2rem;
}

.barber-img-one, .barber-img-two
{
    
    width: 100%;
    border-radius: 12px;
    transition: transform 0.3s ease;
    height: auto;
    margin: auto;
    
}

.barber-img-one:hover,
.barber-img-two:hover
{
    transform: translateY(-5px);
}


.barber-header
{
    grid-column: 1/-1;
    margin: 1rem auto auto auto;
    font-size: 2.5rem;
}
.barber-desc
{
    max-width: 600px;
    border-radius: 12px;
    line-height: 1.5rem;
    padding: 1.6rem;
    box-shadow: .5px .5px 1px white;
    text-align: center;
    margin: auto auto 4rem auto;
    grid-column: 1 / -1;    
}
@media (max-width: 768px)
{
    .barber-website-div
    {
        grid-template-columns: repeat(1, minmax(250px, 500px));
        
        
    }
    .barber-header
    {
        font-size: 2rem;
    }
    .barber-desc
    {
        font-size: .85rem;
    }
}