.barber-website-div
{
    margin: auto auto 300px auto;
    width: 1400px;    

}

.barber-images
{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: grid;
    gap: 2rem;

}
.barber-img-one, .barber-img-two
{
    width: 100%;
    border-radius: 12px;
    transition: 0.3s ease;
}

.barber-img-one:hover, .barber-img-two:hover
{
    transform: translateY(-5px);
}


.barber-p
{
    margin: 0px auto 0px auto;
}
.barber-desc
{
    width: 600px;
    border-radius: 12px;
    line-height: 1.5rem;
    padding: 1.5rem;
    box-shadow: .5px .5px 1px white;
    margin: 2rem auto auto auto;

}