#byte-bistro-div
{
    max-width: 1400px;
    margin: 500px auto 300px auto;
    padding: 0 20px;
}

.projects-header
{
    text-align: center;
    margin-bottom: 100px;
}
.projects-header > h1
{
      font-size: 4rem;
      margin-bottom: 0px;
}
.projects-header > p
{

}

.bytebistro-h1
{
    font-size: 2.5rem;
    color: #e2e8f0;
    margin: 2rem auto auto auto;
    text-align: center;

    grid-column: 1 / -1;


}

.byte-bistro-project
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.byte-bistro-one,
.byte-bistro-two
{
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.byte-bistro-one:hover,
.byte-bistro-two:hover
{
    transform: translateY(-5px);
    
}

.bytebistro-desc
{
    background-color: #0f172a;
    padding: 1.5rem;
    border-radius: 12px;
    color: #e2e8f0;
    line-height: 1.6;
    box-shadow: .5px .5px 1px white;
    margin: 1rem auto auto auto;
    max-width: 600px;

}

/* begin on grid MDN Docs*/


@media (min-width: 768px)
{
    .byte-bistro-project
    {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .bytebistro-desc
    {
        grid-column: 1 / -1;
    }
}

@media (max-width: 767px)
{
    #byte-bistro-div
    {
        margin: 50px auto;
    }
    
    .bytebistro-h1
    {
        font-size: 2rem;
    }
    
    .byte-bistro-one,
    .byte-bistro-two
    {
        margin: 0 auto;
    }
    .bytebistro-desc
    {
        grid-column: 1 / -1;
    }
}

