#hero-section
{
    margin-top: 100px;
    animation: fadeIn 1s ease-in-out forwards;
    transition: 0.5s ease;
    text-align: center;
    scroll-margin-top: 80px;
    height: 100vh;
}

#hero-section h1
{
    font-size: 5rem;
    font-weight: 600;
}

#hero-section h3
{
    font-size: 2rem;
    font-weight: 400;
}


.view-my-work-btn
{
    display: inline-block;
    background-color: #ffffff;
    color: #121212;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: 600;
    animation: fadeIn 1s ease-in-out forwards;
    text-decoration: none;
}
.resume-btn
{
    display: inline-block;
    margin-left: 20px;
    background-color: #ffffff;
    color: #121212;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: 600;
    animation: fadeIn 1s ease-in-out forwards;
    text-decoration: none;
}

.view-my-work-btn:hover,
.resume-btn:hover {
    transform: scale(1.05);
}
.view-my-work-btn:active,
.resume-btn:active {
    transform: scale(.95);
}



.zaid-img
{
    padding: 1rem;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 4em;
    transition: 0.3s ease;
    overflow: none;
    animation: fadeIn 1s ease-in-out forwards;

}
.zaid-img:hover
{
    transform: scale(1.05);
    color: red;
}
.about-section {
    display: flex;
    justify-content: center; 
    font-size: small;
    text-align: center;
    padding: 0 1rem;

}
.about-section p {
    max-width: 600px;
    word-break: break-word;
    animation: fadeIn 1s ease-in-out forwards;
    line-height: 1.5em;
    margin-top: 40px;
}
@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
