footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    border-top: 1px solid #E0E0E0;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
    margin-bottom: 20px


}


.footer-about > p
{
    font-size: .9rem;
    font-weight: 200;
    line-height: 1.5;
    color: #E0E0E0;
    max-width: 800px;
    margin: 0px auto 10px auto;
}

/* social links ---------------------------- */
.social-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

}

.footer-git
{
    transition: transform 0.3s ease-in-out;
}
.footer-git:hover
{
    transform: scale(1.05);
}

.footer-linkedin
{
    transition: transform 0.3s ease-in-out;
}
.footer-linkedin:hover
{
    transform: scale(1.05);
}

/* social links ---------------------------- */



/* footer logo------------------------------ */

.footer-logo-btn
{
    background: transparent;
    border: none;
    padding: 0;
    transition: 0.3s ease;
    border-radius: 50%;
    cursor: pointer;

}
.footer-logo-btn:hover
{
    transform: scale(1.05);
}
.footer-logo-btn:active
{
    transform: scale(.95);
}

.footer-logo-img
{
    width: 50px;

}